{% extends "base.html" %}

<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/png" href="/media/favicon.png" />
  {% block scripts %}
  <title>Message From Manager | Laxmi Saccos</title>
  <link rel="stylesheet" type="text/css" href="{% static 'aboutus.css' %}" />
  {% endblock %}
</head>

<body>
  {% block base1 %}
  <div class="about">
    <h2>Commitment From CEO</h2>
    <div id="message">
      <img src="/media/comittee/manoj_rayamajhi1.jpg" onerror="this.style.display='none'" />
      <h5><strong>Manoj Rayamajhee</strong></h5>
      <p>
        लक्ष्मी महिला बचत तथा ऋण सहकारी संस्था लि. एउटा समुदायमा आधारित दिगो उत्कष्ट र व्यवसायिक महिला सहकारी संस्था हो
        ।
        यस संस्थाले संस्थाको कार्यक्षेत्र भित्र रहेको सम्पुर्ण समुदायको महिलाहरुको आर्थिक, सामाजिक लगाएत महिलाहरुको
        व्यक्तिगत क्षमता विकासको लागि महत्वपुर्ण भुमिका निभाएको छ । यस संस्थाले संस्थाको कार्यक्षेत्र पनौती, धुलिखेल र
        बनेपा नगरपालिका भित्र विभिन्न स्थानमा समुह बनाएर महिला सदस्यहरुलाई वित्तिय सेवा पुर्‍याइ रहेको छ ।
        यस संस्थाको प्रमुख कार्यकारी अधिकृतको हैसियतले म सम्पुर्ण सदस्य, संञ्चालक समिति, लेखा समिति, विभिन्न उप समितिहरु
        र
        कर्मचारीसाथिहरुमा यो प्रतिवद्धता गराउन चाहान्छु कि यस संस्थाले सहकारी ऐन, नियम मापदण्ड र संस्थाको विभिन्न
        आन्तरिक
        नीति, निर्देशिका बमोजिम कार्य गर्दै आइरहेकोले नै समुदायमा हामी पहिलो उत्कृष्ट महिला सहकारी संस्थाको रुपमा
        चिनिएका
        छौ । तसर्थ सम्पुर्ण सदस्यको ईच्छा अनुसार सहज ढंगबाट सुरक्षित वित्तिय सेवा पुर्‍याउनु हाम्रो पहिलो प्रतिवद्धता
        हुनेछ
        । <br><br>
        व्यबस्थापन प्रमुखको हैसियतले यस संस्थाका संञ्चालक समितिको निर्णय विभिन्न उप समिति सदस्यहरुको सल्लाहा सुझावलाई
        मध्ये नजर गर्दै सदस्य आकर्षणका सिर्जनात्मक कार्य गराउदै सदस्य सेवा लाई ध्यान दिईने छ ।
        यस संस्थाका सम्पुर्ण कर्मचारी टिमले आर्थिक रुपमा आउन सक्ने जुनसुकै चुनौतीहरुलाई सामना गर्ने तयारीका साथ सदस्य
        सेवामा महन्वपुर्ण भुमिका खेल्ने छन्। म यस संस्थाको सम्पुर्ण कर्मचारी साथीहरुमा खुशि व्यक्त गर्न चाहान्छु किनकी
        यस
        संस्थाको
        हाल सम्मको संस्थाको लक्ष्य, परिकल्पना ध्येय प्राप्तीकोलागि र भावि योजना प्राप्तिको लागि समुर्ण कर्मचारीहरुले
        प्रतिवद्धताका साथ कार्य गर्नुभएको छ र आगामी दिनमा अझ जोस र जागरका साथ कार्य गरिने प्रतिवद्धता गर्दछौ ।
        <br><br>अन्तमा यस संस्थाको सम्पुर्ण सदस्यज्युहरु, संञ्चालक लेखा सुपरिवेक्षण, विभिन्न उप समिति लगाएत यस संस्थालाई
        प्रत्यक्ष
        अप्रत्यक्ष रुपमा सहयोग पुर्‍याईरहनुहुने केन्द्रिय संघ नेफ्सकुन्, सहकारी विभाग, प्रदेश सहकारी, जिल्ला सहकारी
        संग, सम्बन्धित नगरपालिकाहरु, विभिन्न सहयोगि संस्थाहरु लगाएत हरेक चुनौतीमा साथ दिने जुन सुकै वित्तिय समस्यालाई
        पनि सामाना गर्न सक्ने
        रचनात्मक, सिर्जनात्मक, उत्प्रेरक भई कार्यसम्पादन गराउने मेरो कर्मचारी टिमलाई धन्यवाद व्यक्त गर्न चाहान्छु ।

        <br><br>
        मनोज रायमाझी <br>
        प्रमुख कार्यकारी अधिकृत<br>
        rayamanoj12@gmail.com<br>
        ९८५१०८१७८२, ९८५११५७०५७
      </p><br>
      <p>
        Laxmi Mahila Saving and Credit
        Cooperative
        Society Limited is a community based sustainable, excellent and professional
        Women's cooperative
        .
        This organization is for the economic, social and personal development of women in the entire community who are
        within
        the jurisdiction of
        the organization.

        Financial services are being provided to women members by forming groups in different places in Panauti,
        Dhulikhel and Banepa
        Municipality.
        As the Chief Executive Officer of this organization, I want to make a commitment to all the members, Board of
        Directors, Accounts
        Committee and various sub-committees that this organization has become the first excellent women's cooperative
        in the
        community because of our commitment to the policies
        and guidelines provided by various cooperative laws, rules
        and regulations.
        Therefore, our first commitment is and always will be to provide secure financial services in a smooth manner as
        per the wishes of
        all the members.
        <br>

        As the head of management, I want to assure you that the decision of the Board of Directors
        will be based on the advice and
        suggestions of various sub-committee members.
        The entire staff team of this organization is ready to face any financial challenges and
        will play important roles in the service. I would also like to express my happiness to all the staff members of
        this
        organization because
        to date, all employees have been involved in achieving the organization's goals, visionary goals, and future
        plans.
        We have worked with commitment and we will be committed to our work with more vigor and vigilance in the days to
        come.<br>
        Finally, I would like to thank all the members of this organization, NEFSCUN, district cooperatives, state
        cooperatives and municipalities, who have been providing
        direct or
        indirect assistance to our organization so far.
        <br><br>
        Manoj Rayamajhee <br>
        CEO<br>
        rayamanoj12@gmail.com<br>
        9851081782, 9851157057

      </p>
    </div>
  </div>

  {% endblock %}
</body>

</html>