{% extends "base.html" %}

<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/png" href="/media/favicon.png" />
  {% block scripts %}
  <title>Message From Chairperson | Laxmi Saccos</title>
  <link rel="stylesheet" type="text/css" href="{% static 'aboutus.css' %}" />
  {% endblock %}
</head>

<body>
  {% block base1 %}
  <div class="about">
    <h2>Message From Chairperson</h2>
    <div id="message">
      <img src="/media/comittee/maiya_mahat.jpg" onerror="this.style.display='none'" />
      <h5><strong>Maiya Mahat</strong></h5>
      <p>
        नमस्कार!!<br>
        सर्वप्रथम म यहाँहरूलाई लक्ष्मी महिला वचत तथा ऋण सहकारी संस्था लिमिटेडको अफिसियल साइट (Official Site) मा
        हार्दिक स्वागत गर्दछु। यो संस्था २०५६ सालमा महिलाहरूको आय आर्जन बृद्धिगरी स्वावलम्बी र आत्म निर्भर बनाउने
        उद्धेश्यले स्थापना भएको संस्था हो। समुदायको उन्नती नै राष्ट्रिय उन्नती हो, त्यसै अनुरूप यो संस्थाले आफ्नो दुर
        दृष्टि ( Vision) “समुदायमा आधारित दिगो उत्कृष्ट व्यवसायिक महिला सहकारी संस्था ” राखेको छ। <br><br>
        यो संस्थाले समुदायमा महिलाहरूलाई व्यवसायिक एवं सीपमुलक तालिम प्रदान गर्दै स्वावलम्बनकालागि महत्वपूर्ण योगदान
        दिदै
        आएको छ। यो संस्थाले सहकारी ऐन, नीति, निर्देशिका, मापदण्ड सबै पूर्ण रुपमा पालना गर्दै अगाडी बढीरहेको कुरा
        यहाँहरूलाई अवगत गराउन चाहन्छु। संस्थालाई अझ बलियो, दिगो, भरपर्दो बनाई नेपालमै आफ्नो उत्कृष्ट पहिचानकालागि
        नेपाल केन्द्रीय बचत तथा ऋण सहकारी संघ लिमिटेड (NEFSCUN) को प्रोवेशन (PROBATION) कार्यक्रममा सरिक भएको छ। यो
        संस्थाले
        आगामी दिनमा सरोकारवालाहरु सबैको सहयोगमा प्रोबेशनमा सुचिकृत भई सफलताकासाथ उत्कृष्ट सहकारीको रुपमा पहिचान बनाउन
        सफल हुने दृढ विश्वास लिएको छु। धन्यवाद!
        <br><br>
        मैया महत <br>
        अध्यछ<br>
        maiya.mahat@gmail.com<br>
        ९८४१७६१२१५

      </p><br>
      <p>

        First of all, I would like to warmly welcome you to the official site of Laxmi Mahila Saving and Credit
        Cooperative
        Society Limited. Established in 2056 B.S, this organization carries the main motive of
        making women in the society self-reliant and raising their living standards.

        The progress of the community is the national progress, accordingly
        this organization has its own
        Vision "Community Based Sustainable, Excellent and Professional Women's Cooperative".<br>This organization
        provides
        vocational and skill-based training to women in the community, making significant contributions to their
        self-dependence.

        Similarly, this organization is moving forward in full compliance with the Cooperatives Act, policies,
        directives
        and standards.
        <br>
        To make the organization stronger, more sustainable, more reliable for its excellent identity in Nepal, it
        has joined the PROBATION program of Nepal Federation of Savings and Credit Cooperative Unions Ltd. (NEFSCUN).
        In the coming days, with the help of all the stakeholders, we will give our best to be listed in probation and
        to be successfully
        identified as an excellent cooperative. Thank You!
        <br><br>
        Maiya Mahat<br>
        Chairperson<br>
        maiya.mahat@gmail.com<br>
        9841761215

      </p>
    </div>
  </div>

  {% endblock %}
</body>

</html>