{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <meta charset="UTF-8">
  <link rel="icon" type="image/png" href="/media/favicon.png">
  {% block scripts %}

  <title>Organizational Profile | Laxmi Saccos</title>
  <link rel="stylesheet" type="text/css" href="{% static 'aboutus.css' %}">
  {% endblock %}

</head>

<body>
  {% block base1 %}

  <div class="about">
    <h2>ORGANIZATIONAL PROFILE</h2>
    <div id="remit">
      <img class="img-fluid" src="/media/org.jpg" alt="org">
      <p>२०५५ साल चैत्र १३ गते देखि निरन्तर “ समुदायमा आधारित दिगो उत्कृष्ट व्यवसायिक महिला सहकारी संस्था ”
        बनाउने परिकल्पनाका साथ निरन्तर रुपमा बचत,ऋण,आर्थिक,सामजिक सुरक्षा तथा विप्रेष्णका सेवा मार्फत पनौती,धुलिखेल र
        बनेपा नगरपालिकाका सम्पुर्ण दिदि बहिनीहरुलाई सक्षम तथा जीबनस्तर उकास्न निरन्तर सहयोग गर्ने यस लक्ष्मी महिला
        सकोसको
        वेबसाईटमा याहाँहरुलाई हार्दिक स्वागत गर्दछौ ।

        यस संस्थाका विभिन्न आर्थिक,सामजिक तथा महत्वपुर्ण सुचनाहरु समय सापेक्ष पारदर्शि रुपमा सदस्यहरु समक्ष पु¥याउने
        उद्देश्यका साथ हामिले यो प्रविधिको विकास गरेका छौ । हाम्रा सम्पुर्ण सदस्यहरुले आफ्ना महत्वपुर्ण सल्लाह,सुझाब र
        आफ्ना रचनात्मक कार्यहरुको निरन्तर साथ सहयोगको अपेक्षा सहित यस संस्थाको वृद्धि विकासकोलागि सधै ऐक्यवद्धता प्रकट
        गरिदिनुहुन सम्पुर्ण सदस्यहरु एवं शुभचिन्तकहरुमा हार्दिक अनुरोध गर्दछौ ।</p>
      <p>“एकका लागि सबै, सबैका लागि एक” सहकारीको मूल मन्त्रलाई आत्मसाथ गर्दै सहकारी सिद्धान्तको आधारमा लक्ष्मी महिला बचत
        तथा ऋण सहकारी संस्था नामाकरण गरि २०५५ साल चैत १३ गतेबाट सुरु भएको यस संस्था आज २२ औं बर्षमा अगाडी बढिरहेको छ। यस
        अवधिमा आफ्नो कार्य क्षेत्रमा रहेका महिलाहरु मात्रको आर्थिक, सामाजिक लगायत हरेक क्षेत्रमा सहयोगकालागि काम गर्ने
        उद्देश्य लिएको भएतापनि यसले अन्य संस्थाले जतिनै पुरुष तथा बालबालिका र विकाश निर्माण क्षेत्रमा पनि काम गरिरहेको
        सबैमा सर्वविदितै छ। आगामी दिनहरुमा पनि आफ्ना सदस्यहरुको बृद्धी विकाशमा सेवा पुर्र्याउन तथा उनीहरुको सामाजिक र
        आर्थिक उत्थानका लागि कार्य गर्न समुदायमा आधिरित दिगो तथा सक्षम, उत्कृष्ट वित्तीय महिला सहकारीको रुपमा बिकाश गर्न
        हामी प्रयासरत छौं। यसका लागि सम्पूर्ण शेयर सदस्यहरु, शुभचिन्तकहरु, जिल्ला, प्रदेश तथा केन्द्रीय संघहरु र स्थानीय
        निकायहरुको साथ-सहयोग, सुझाव र सल्लाहको अपेक्षा गर्दछु।<br> धन्यबाद।
        <br>जय सहकारी !! </p><br>
      <p>

        Since its establishment in Chaitra 13, 2055 BS, Laxmi Saccos has been giving its best to make itself "Community
        Based Excellent and
        Sustainable Women's Cooperative" by constantly helping all the women of Panauti, Dhulikhel and Banepa
        Municipality to raise their living
        standards and increase self-reliance.
        To provide various economic, social and important information of this organization to the
        members in a timely and transparent manner, we have developed this website. All our members have
        their important advice, suggestions and
        we heartily request all the members and well wishers to show solidarity for the growth and development of this
        organization with the expectation of continuous
        support for its creative works.
      </p>
      <p>
        Lakshmi Mahila Bachat, embracing the basic principle of cooperatives i.e "All for One, One for
        All"
        this cooperative, which was started on Chaitra 13, 2055 BS, is now moving forward in its 22nd year to
        continuously work for the support of women in their work primarily including the socio-economic fields.
        Despite the main objective, like other organizations, it is also actively working for men and children and
        development of society as well.
        In the days to come, we aim to serve to the professional development of our members and their
        social and economic upliftment as a capable and sustainable women's cooperative.

        For this, we expect the love, support, cooperation, suggestions and advice from all the share members,
        well-wishers, district organizations, state agencies, central associations and the locals.<br> Thank
        You<br>Jai Sahakari!
      </p>
    </div>
  </div>
  {% endblock %}

</body>

</html>