{% extends "base.html" %}

<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <meta charset="UTF-8">
  <link rel="icon" type="image/png" href="/media/favicon.png">
  {% block scripts %}
  <title>Other Teams | Laxmi Saccos</title>
  <link rel="stylesheet" type="text/css" href="{% static 'team.css' %}">
  {% endblock %}

</head>

<body>
  {% block base1 %}

  <div class="team">
    <h5>CHILDREN DEVELOPMENT SUB-COMMITTEE</h5>
    <div class="teams-photos">

      <div class="row text-center">
        <div class="col-lg-1 col-md-1"></div>
        <div class="col-lg-3 col-md-3">
          <img id="comittee-image" src="/media/comittee/anita_kuinkel.jpg">
          <p id="descp"><strong id="position">Coordinator</strong><br><strong>Anita Kuinkel</strong><br>Dhulikhel-8,
            Kavre<br></p>
        </div>
        <div class="col-lg-3 col-md-3">
          <img id="comittee-image" src="/media/comittee/krishnadevi_manandhar.jpg">
          <p id="descp"><strong id="position">Member</strong><br><strong>Krishnadevi Manandhar</strong><br>Dhulikhel-8,
            Kavre<br></p>
        </div>
        <div class="col-lg-3 col-md-3">
          <img id="comittee-image" src="/media/comittee/ranju_rajbansi.jpg">
          <p id="descp"><strong id="position">Member</strong><br><strong>Ranju Rajbansi</strong><br>Dhulikhel-8,
            Kavre<br></p>
        </div>
        <div class="col-lg-2 col-md-2"></div>
      </div>
      <hr>
      <h5>RELIEF AND HEALTH SUB-COMMITTEE</h5>

      <div class="row text-center">
        <div class="col-lg-1 col-md-1"></div>
        <div class="col-lg-3 col-md-3">
          <img id="comittee-image" src="/media/comittee/sarmila_adhikari.jpg">
          <p id="descp"><strong id="position">Coordinator</strong><br><strong>Sharmila Adhikari</strong><br>Dhulikhel-8,
            Kavre<br></p>
        </div>
        <div class="col-lg-3 col-md-3">
          <img id="comittee-image" src="/media/comittee/sumitra_adhikari.jpg">
          <p id="descp"><strong id="position">Member</strong><br><strong>Sumitra Adhikari</strong><br>Dhulikhel-8,
            Kavre<br></p>
        </div>
        <div class="col-lg-3 col-md-3">
          <img id="comittee-image" src="/media/comittee/beli_thapa.jpg">
          <p id="descp"><strong id="position">Member</strong><br><strong>Beli Thapa</strong><br>Dhulikhel-8,
            Kavre<br></p>
        </div>
        <div class="col-lg-2 col-md-2"></div>
      </div>
      <hr>
      <h5>AGRICULTURE SUB-COMMITTEE</h5>
      <div class="row text-center">
        <div class="col-lg-1 col-md-1"></div>
        <div class="col-lg-3 col-md-3">
          <img id="comittee-image" src="/media/comittee/sabitra_deuja.jpg">
          <p id="descp"><strong id="position">Coordinator</strong><br><strong>Sabitra Deuja</strong><br>Dhulikhel-8,
            Kavre<br></p>
        </div>
        <div class="col-lg-3 col-md-3">
          <img id="comittee-image" src="/media/comittee/laxmi_suwal.jpg">
          <p id="descp"><strong id="position">Member</strong><br><strong>Laxmi Suwal</strong><br>Dhulikhel-8,
            Kavre<br></p>
        </div>
        <div class="col-lg-3 col-md-3">
          <img id="comittee-image" src="/media/comittee/ujeli_mijar.jpg">
          <p id="descp"><strong id="position">Member</strong><br><strong>Ujeli Mijar</strong><br>Dhulikhel-8,
            Kavre<br></p>
        </div>
        <div class="col-lg-2 col-md-2"></div>
      </div>


      <img id="bottom-img" src="/media/bottom.png">
    </div>

  </div>


  {% endblock %}

</body>

</html>