{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <meta charset="UTF-8">
  <link rel="icon" type="image/png" href="/media/favicon.png">
  {% block scripts %}

  <title>Reports | Laxmi Saccos</title>
  <link rel="stylesheet" type="text/css" href="{% static 'gallery.css' %}">
  {% endblock %}

</head>

<body>
  {% block base1 %}

  <div class="photos">
    <h2>REPORTS</h2>

    {% for report in page_obj %}
    <div class="photos-block">
      <a href="{{report.file.url}}">
        <h5><i class="fa fa-hand-o-right"></i> {{report.title}}</h5>
      </a>

    </div>
    {% endfor %}
    <div class="pagination">
      <span class="step-links">
        {% if page_obj.has_previous %}
        <a class="btn btn-outline-primary" href="?page=1">&laquo; first</a>
        <a class="btn btn-outline-primary" href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
        <a class="btn btn-outline-primary" href="?page={{ page_obj.next_page_number }}">next</a>
        <a class="btn btn-outline-primary" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
      </span>
    </div>
  </div>
  {% endblock %}


</body>

</html>